.margem-top-footer{

    margin-top: 20%;
}
.margem-top-footer-hr{
    width: 85%;
    margin-top: 10%;
}
.footer-hr-color{

    background-color: #999999;
}

.font-size-footer1{

font-size: 140%;

}
.font-size-footer-2{

    font-size: 110%;
    
    }

